*.class
*.log
.cache-main
.cache-tests

# Akka specific
logs/*

# Scala-IDE specific
.metadata
.settings
.classpath
.project
.scala_dependencies
.worksheet

# idea specific
.idea

# Scalastyle specific
.scalastyle
/bin/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
