-@ val action: String
-@ val actionDisplayName: String
-@ val labelName: String
-@ val colourHex: String

h4 Nuevos #{actionDisplayName}

.row
  .epoch(id="line-chart-#{action}" style="width: 100%; height: 200px")

.row.stick-to-top
  .col-md-offset-2.col-md-4
    .chart-label
      .color-box(style="background-color: #{colourHex};")
