button#restart-btn.btn.btn-primary(type="submit") Iniciar
button#pause-btn.btn.btn-primary(type="submit") Pausar
button#resume-btn.btn.btn-primary(type="submit") Continuar
button#step-btn.btn.btn-primary(type="submit") Avanzar
//- button#stop-btn.btn.btn-danger(type="submit") Finalizar
