-@ val selectId: Int
-@ val groupNames: Seq[String]

.row
  .col-md-2
    strong Grupo:

  .col-md-2
    select.pie-chart-select.form-control(group-select-id="#{selectId}")
      - for(groupName <- ("Todos" +: groupNames))
        option= groupName

.row
  .epoch(id="pie-chart-#{selectId}" style="width: 200px; height: 200px")
