-@ val groupNames: Seq[String]

h4 Trabajadores vs holgazanes (tiempo real)

.col-md-6
  - render("_pie-chart.jade", Map("selectId" -> 0, "groupNames" -> groupNames))

.col-md-6
  - render("_pie-chart.jade", Map("selectId" -> 1, "groupNames" -> groupNames))
