- attributes("title") = "TP Multiagentes"

.container
  .row.col-md-12
    - render("_controls.jade")

  .row
    .col-md-4
      - render("_pie-chart.jade")

      - render("_counters.jade")

    .col-md-8
      - render("_area-chart.jade")
      - render("_changed-chart.jade")
