.stick-to-top {
  margin-top: -35px; /*FIXME: hideous hack*/
}

.chart-label {
    margin: 2.5em;
    position: relative;
}

.chart-label span {
    padding-left: 2.5em;
}

.chart-label .color-box {
    width: 1em;
    height: 70%;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0.5em;
    top: 15%;
}

.form-control {
    width: 100px;
}
