.stick-to-top {
  margin-top: -35px; /*FIXME: hideous hack*/
}

.input-color {
    margin: 2.5em;
    position: relative;
}

.input-color span {
    padding-left: 2.5em;
}

.input-color .color-box {
    width: 1em;
    height: 70%;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 0.5em;
    top: 15%;
}
