- attributes("title") = "TP Multiagentes"

- render("_group-form-template.jade")

.container
  h1 Trabajo Práctico Multiagentes

  form#simulation-params-form.form-horizontal(action="/simulation" method="post")
    h3 Parámetros generales

    .form-group
      label.col-md-4(for="employees-memory") Memoria de los empleados (# de acciones)
      .col-md-3
        input.form-control#employees-memory(name="employeesMemory" type="number" placeholder="Infinita")

    .form-group
      label.col-md-4(for="visibility") Visibilidad (# de testigos para cada acción)
      .col-md-3
        input.form-control#visibility(name="visibility" type="number" placeholder="5")

    .form-group
      .col-md-5
        hr

    h3
      &= "Grupos de empleados"
      span#add-group-form.btn.btn-default(type="button")
        .glyphicon.glyphicon-plus(aria-hidden="true")

    .form-group
      .col-md-12#group-forms
        .form-group
          .col-md-12
            label.col-md-2 Nombre
            label.col-md-2 Cant. empleados
            label.col-md-2 Prob. trabajar
            label.col-md-2 Prob. holgazanear
            label.col-md-2 Permeabilidad

    .form-group
      .col-md-5
        hr

    h3 Parámetros de performance
    .form-group
      label.col-md-4(for="backend-timer-freq") Frecuencia backend (seg.)
      .col-md-3
        input.form-control#backend-timer-freq(name="backendTimerFreq" type="text" placeholder="0.2")

    .form-group
      label.col-md-4(for="logging-timer-freq") Frecuencia logging (seg.)
      .col-md-3
        input.form-control#logging-timer-freq(name="loggingTimerFreq" type="text" placeholder="0.7")

    .form-group
      .col-md-offset-2.col-md-10
        button.btn.btn-primary(type="submit") Confirmar parámetros
