- attributes("title") = "TP Multiagentes"
- attributes("headline") = "TP Multiagentes"

div
  h2 Trabajo vs holgazanería en el tiempo
  div(id="area-chart" class="epoch" style="width: 800px; height: 200px")
