- attributes("title") = "TP Multiagentes"

script()

.container
  .row.col-md-12
    button#restart-btn.btn.btn-primary(type="submit") Iniciar
    button#pause-btn.btn.btn-primary(type="submit") Pausar
    button#resume-btn.btn.btn-primary(type="submit") Continuar
    button#step-btn.btn.btn-primary(type="submit") Avanzar
    //- button#stop-btn.btn.btn-danger(type="submit") Finalizar

  .row
    .col-md-4
      h4 Trabajadores vs holgazanes (tiempo real)
      .row
        div#pie-chart.epoch(style="width: 200px; height: 200px")

      h4 Tiempo para la dominancia (<span id="counter-dominance-limit"></span>%)
      .row
        dl.dl-horizontal
          dt Trabajo
          dd#counter-work -
          dt Holgazanería
          dd#counter-loiter -

    .col-md-8
      h4 Trabajadores vs holgazanes
      .row
        div#area-chart.epoch(style="width: 800px; height: 200px")
      .row.stick-to-top
        .col-md-offset-2.col-md-4
          .chart-label
            .color-box(style="background-color: #1F77B4;")
            span Trabajadores
        .col-md-4
          .chart-label
            .color-box(style="background-color: #FF850A;")
            span Holgazanes

      h4 Nuevos trabajadores vs nuevos holgazanes
      .row
        div#line-chart.epoch(style="width: 800px; height: 200px")
      .row.stick-to-top
        .col-md-offset-2.col-md-4
          .chart-label
            .color-box(style="background-color: #1F77B4;")
            span Nuevos trab.
        .col-md-4
          .chart-label
            .color-box(style="background-color: #FF850A;")
            span Nuevos holg.
